.metadata/
.recommenders/
.metadata/*
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.wst.validation/dep.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/finalPro/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/finalPro/.markers.snap
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/4.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.web.core.prefs
